*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-col{
    max-width: 1050px;
    margin: 0 auto;
}

.center{
    margin: 0 auto;
}

.p-55{
    padding: 55px 0;
}

.sb{
    justify-content: space-between;
}

.d-flex{
    display: flex;
}

.p-rel{
    position: relative;
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}

header ul li{
    margin: 0 10px;
}

button{
    background-color: blue;
    color: white;
    padding: 8px 15px;
    border: none;
}

/* Main jumbotron */
main div:first-child{
    background-color: rgb(175, 213, 238);
}

.title{
    font-weight: 800;
    font-size: 35px;
}

.jumbo-paragraph{
    width: 30%;
}

div.jumbo-paragraph ul{
    list-style-type: none;
}

div.jumbo-paragraph ul li{
    margin-bottom: 25px;
}

.jumbo-icon{
    font-size: 30px;
    margin-top: 40px;
}

div.jumbo-img img{
    position: absolute;
    object-fit: fill;
    width: 70%;
    height: 130%;
}  