* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

.main-col {
    max-width: 1050px;
    margin: 0 auto;
}

.sm-col {
    padding: 0 40px;
}

.p-55 {
    padding: 55px 0;
}


.p-rel {
    position: relative;
}

a {
    color: blue;
}

button {
    background-color: blue;
    color: white;
    padding: 10px 15px;
    border: none;
}


/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

header ul li {
    margin: 0 10px;
}


/* Main */

/* jumbotron */
.bg-jumbo {
    background-color: rgb(175, 213, 238);
    border: solid 1 px lightgrey;
}

.title {
    font-weight: 800;
    font-size: 35px;
}

.jumbo-paragraph {
    width: 30%;
}

div.jumbo-paragraph ul {
    list-style-type: none;
}

div.jumbo-paragraph ul li {
    margin-bottom: 25px;
}

.jumbo-icon {
    font-size: 30px;
    margin-top: 40px;
}

div.jumbo-img img {
    position: absolute;
    object-fit: fill;
    width: 70%;
    height: 130%;
}


/* Main container */
.main-container {
    margin-top: 150px;
    border-top: solid 1px lightgray;
    padding: 50px 0;
}


/* Payment plans */
/* title */
h2 {
    font-size: 40px;
    line-height: 1.3;
}

/* selection */
.payment-selection {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 40px 0;
}

ul.payment-selection li {
    margin-right: 30px;
}

/* showcase */
.showcase {
    display: flex;
    justify-content: space-between;
}

.showcase-container {
    width: 30%;
    border: 1px solid rgba(197, 197, 197, 0.829);
}

.showcase-type {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    border-bottom: solid 1px rgba(197, 197, 197, 0.829);
}

div.showcase-type i {
    margin-right: 5px;
}

.showcase-description {
    border-top: none;
    padding: 25px;
}

/* title pricing frequency */
.container-plan-head {
    margin-bottom: 30px;
}

div.container-plan-head>div {
    margin-bottom: 5px;
}

.container-plan-title {
    padding-bottom: 10px;
    font-size: 20px;
}

.price {
    font-weight: 600;
}

.frequency {
    color: grey;
}

/* service list */
.service-list {
    list-style-type: none;
    padding-bottom: 20px;
}

ul.service-list li {
    display: flex;
    margin: 20px 0;
}

ul.service-list i {
    margin-right: 5px;
}

/* button free trial */
div.showcase-description button {
    width: 100%;
}

/* link buy now */
.link-buy-now {
    margin: 30px 0;
}

.divider {
    border-bottom: solid 1px rgba(197, 197, 197, 0.829);
    width: 15%;
}

/* perks */
.perks-list {
    list-style-type: none;
    margin: 35px 0;
}

ul.perks-list li {
    margin: 20px 0;
    display: flex;
    font-size: 15px;
}

ul.perks-list li i {
    color: blue;
    margin-right: 5px;
}

ul.perks-list li:first-child {
    font-weight: 700;
}


/* large plan */
.large-plan {
    width: 100%;
    border: 1px solid rgba(197, 197, 197, 0.829);
    ;
    margin-top: 40px;
}

.large-plan-title {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 8px;
}

.large-plan-content {
    margin: 25px;
}

.large-plan-contact {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 40px;
}

.large-plan-description {
    width: 75%;
}

div.large-plan-title button {
    padding: 10px 40px;
}


/* Find a partner */
.find-partner {
    margin: 200px auto;
    display: flex;
}

.find-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.find-txt-container {
    width: 70%;
    padding: 80px 40px;
}

div.find-txt-container h3 {
    font-size: 25px;
    margin-bottom: 15px;
}

div.find-txt-container p {
    margin-bottom: 20px;
}

div.find-txt-container button {
    color: black;
    border: 1px solid black;
    background-color: white;
    font-size: 15px;
}


/* Operations showcase */
.operations-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 60px auto;
}

.operations-content {
    width: 30%;
    margin: 10px auto;
}

.operations-img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

div.operations-content h3 {
    font-size: 23px;
    margin-bottom: 30px;
}

/* Our clients */
.our-clients {
    width: 60%;
    margin: 200px 0;
}

.our-clients-link {
    margin-top: 50px;
}


/* Footer */

/* Footer lists */
footer {
    background-color: rgb(15, 15, 15);
    color: white;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    font-size: 15px;
    margin: 15px 0;
}

footer ul li:first-child {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 25px;
}

.footer-lists-container {
    display: flex;
    justify-content: space-between;
}

.footer-lists-content {
    margin: 60px 0;
}

/* language */
.lang {
    width: 10%;
    border-top: 1px solid white;
    display: flex;
    align-items: center;
    padding: 40px 0;
}

div.lang div {
    margin-right: 5px;
}